// =====================  utils  ==========================

@import 'utils/reset';
// @import 'utils/normalize';
@import 'utils/mixin_font-face';
@import 'utils/fontstylesheet';
@import 'utils/variables';

// Bootstrap

@import '../../node_modules/bootstrap/scss/bootstrap-grid';

// Smart-grid

// @import '../../smart-grid';

// Rfs

@import '../../node_modules/rfs/scss';

// ========================================================
//      Uncomment if png or svg folder not empty
// ========================================================
//
// @import 'utils/mixin-spritePng';
// @import 'tmp/spritePng';
// @import 'tmp/spriteSvg';

// ====================  Default  =========================

@import 'utils/defaults';

body {
  color: $main-color;
  font-weight: 400;
  font-family: $default-font;

  @include font-size(16px);
}

// =====================  modules  ========================

@import 'modules/header';
@import 'modules/footer';

// =====================  Media  ==========================

@import 'modules/media';
