// =====================  utils  ==========================

// @import 'utils/reset';
@import 'utils/normalize';
@import 'utils/mixin_font-face';
@import 'utils/fontstylesheet';
@import 'utils/variables';

// Bootstrap

@import '../../node_modules/bootstrap/scss/bootstrap-grid';

// Rfs

@import '../../node_modules/rfs/scss';

// ========================================================
//      Uncomment if png or svg folder not empty
// ========================================================
//
// @import 'utils/mixin-spritePng';
// @import 'tmp/spritePng';
// @import 'tmp/spriteSvg';

// ====================  Default  =========================

p {
  hyphens: auto;
}

button,
a,
input {
  outline: 0;
}

button,
a {
  cursor: pointer;
}

a {
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  transition: all .2s linear;
}

li {
  list-style-type: none;
}

body {
  font-family: $main-font;
  color: $black;
  @include rfs(18);
}

// =====================  modules  ========================

@import 'modules/header';
@import 'modules/footer';

// =====================  Media  ==========================

@import 'modules/media';
