include ../utils/mixins
block variables

doctype html
html(lang="ru-RU")
  head
    meta(charset="utf-8")
    title #{title}
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="keywords" content="")
    meta(name="description" content=description)

    <!--[if lt IE 9]>
    script(src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js")
    <![endif]-->

    link(rel="shortcut icon" href="favicon.png" type="image/png")

    link(rel="stylesheet", href="assets/css/vendors.css")
    link(rel="stylesheet", href="assets/css/main.css")

  body(class=pageClass)
  
    //- svg sprite
    //- include ../../img/spriteSvg.svg
    //- ==========
    
    .wrapper
      include ../partials/header
      block content
      include ../partials/footer

    block script

    script(src="assets/js/vendors~main.js")
    script(src="assets/js/main.js")
